<div class="min-h-screen flex flex-col items-center justify-center p-6">
  <h1 class="font-extrabold text-3xl md:text-4xl mb-6">Exercise 3</h1>
  <div class="card bg-base-200 p-6 w-full max-w-lg space-y-2 shadow-xl">
    <app-toggle
      [label]="text"
      [initialOn]="true"
      [disabled]="false"
      (toggled)="onToggleText($event)"
    />
    <div class="divider my-1"></div>
    <app-toggle [label]="'Disabled'" [initialOn]="false" [disabled]="true" />
    <div class="divider my-1"></div>
    <app-toggle
      [label]="'Enable Notifications'"
      [initialOn]="false"
      [disabled]="false"
      (toggled)="showNotifications($event)"
    />
    <div class="divider my-1"></div>
    <app-toggle
      [label]="'Delete Feature'"
      [initialOn]="false"
      [disabled]="false"
      (toggled)="showConfirmation($event)"
    />
  </div>
  @if (showToast()) {
    <div class="toast toast-top toast-end">
      <div
        class="alert shadow-lg"
        [class.alert-success]="toastMessage().includes('Enabled')"
        [class.alert-error]="toastMessage().includes('Disabled')"
      >
        <span>{{ toastMessage() }}</span>
      </div>
    </div>
  }
  @if (showAlert()) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-info shadow-lg">
        <i class="bi bi-info-circle"></i>
        <span>{{ alertMessage() }}</span>
      </div>
    </div>
  }
</div>
<div class="min-h-screen flex items-center justify-center p-6">
  <app-card>
    <img
      cardImage
      src="assets/imgs/mecca.png"
      alt="Mecca"
      class="w-full h-48 object-cover"
    />
    <span cardHeader>Mecca</span>
    <div cardBody>
      <p class="text-lg font-medium">About</p>
      <p class="opacity-80 mt-2">
        It's the holiest city in Islam. It's located in the Hejazi region of western Saudi Arabia
      </p>
    </div>
    <div cardFooter>
      <button class="btn btn-primary btn-sm">Explore More</button>
    </div>
  </app-card>
</div>
@let todo = (todos$ | async) ?? [];
<h1 class="text-xl font-bold mb-4">Todos</h1>
@if (!errorMsg) {
  <app-todo-table [todos]="todo"></app-todo-table>
} @else {
  <p class="text-red-600">{{ errorMsg }}</p>
}
